/* 
    Made by Treasure Chandler

    This is the CSS file that will style this popup.
*/

/* Font configuration */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Styling the wildcat image */
#wildcat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    padding-bottom: 5px;
    padding-right: 8px;
} 

/* Sizing the window */
html {
    background-color: #f0f0e4;
    width: 200px;
    height: 250px;
}

/* Decrease the margin on the header text */
h1 {
    margin-bottom: -8px;
}

/* Center the text in the window */
h1, h3 {
    text-align: center;
}