/* 
    Made by Treasure Chandler

    This is the CSS file that will style the login page.
*/

/* Styling the two login buttons */
.buttons {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 32px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 28em;
}

/* Give the buttons a lighter color upon hovering */
.buttons:hover {
    background-color: #7078ec;
}

/* Login div styling */
.login-height {
    height: 84.7vh;
    margin-top: 5.3em;
    position: relative;
    text-align: center;
}

/* Font configuration */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}

/* Align the div containing the help question and the question mark to the left */
.left-side {
    position: absolute;
    left: 10px;
    text-align: left;
    top: 28em;
    width: 26em;
}

/* Add the question mark to the page so it can be hoverable */
.help-tooltip-img {
    background-image: url(../Assets/help.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: help;
    display: block;
    float: left;
    height: 75px;
    width: 75px;
}

/* Help tooltip text */
.help-tooltip-img .help-tooltip-text {
    background-color: #f5f5f5;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 1.27em;
    height: 210px;
    padding: 10px;
    width: 180px;
    visibility: hidden;

    /* Position the actual tooltip text */
    bottom: 100%;
    margin-left: 60px;
    position: absolute;
    z-index: 1;

    /* Make the tooptip fade in */
    opacity: 0;
    transition: opacity 0.6s;
}

/* Show the tooltip when the user hovers over it with the mouse */
.help-tooltip-img:hover .help-tooltip-text {
    opacity: 1;
    visibility: visible;
}

/* Align the div containing the translation question and the gear to the right */
.right-side {
    position: absolute;
    right: 10px;
    text-align: right;
    top: 28em; 
    width: 28em;
}

/* Style the translation question and the help question */
.questions-style {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Align the sign up and login buttons vertically */
.vertical {
    display: block;
    margin: 20px auto;
}

/* Change the hyperlink color */
#hyperlink {
    color: #60b4ef;
}

/* Gives the secondary text a slightly larger bottom margin */
#larger-bottom-margin {
    margin-bottom: 1.05em;
}

/* Styling the translation gear */
#translate-settings {
    background-image: url(../Assets/settings.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: right;
    height: 75px;
    width: 75px;
    transition: background-image 0.3s ease-in-out;
}

#translate-settings:hover {
    background-image: url(../Assets/settingshover.png);
}

/* Styling the footer */
footer {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 10rem;
    text-align: center;
}

/* Sets the background image */
html {
    background-image: url(../Assets/lightmodewithwildcat.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/* Styling the welcome text */
h1 {
    font-size: 6em;
    margin-bottom: -0.5em;
}

/* Styling the secondary text */
h3 {
    font-size: 3.1em;
}