/* 
    Made by Treasure Chandler

    This is the CSS file that will style the login page.
*/

/* Styling the two login buttons */
.buttons {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 32px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 28em;
}

/* Give the buttons a lighter color upon hovering */
.buttons:hover {
    background-color: #7078ec;
}

/* Login div styling */
.login-height {
    height: 84.7vh;
    margin-top: 5.3em;
    position: relative;
    text-align: center;
}

/* Font configuration */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}

/* Align the div containing the help question and the question mark to the left */
.left-side {
    align-items: center;
    display: block;
    float: left;
    position: absolute;
    left: 10px;
    text-align: left;
    top: 56vh;
    width: 46vh;
    z-index: 999;
}

/* Add the question mark to the page so it can be hoverable */
.help-tooltip-img {
    background-image: url(../Assets/help.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: help;
    display: inline-flex;
    height: 75px;
    width: 75px;
}

/* Help tooltip text */
.help-tooltip-img .help-tooltip-text {
    background-color: #f5f5f5;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    color: #000000;
    font-size: 1.27em;
    height: 210px;
    padding: 10px;
    width: 180px;
    visibility: hidden;

    /* Position the actual tooltip text */
    bottom: 100%;
    margin-left: 60px;
    position: absolute;
    z-index: 1;

    /* Make the tooptip fade in */
    opacity: 0;
    transition: opacity 0.6s;
}

/* Show the tooltip when the user hovers over it with the mouse */
.help-tooltip-img:hover .help-tooltip-text {
    opacity: 1;
    visibility: visible;
}

/* Align the div containing the translation question and the gear to the right */
.right-side {
    align-items: center;
    display: block;
    float: right;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 56vh; 
    width: 23vw;
    z-index: 999;
}

/* Style the translation question and the help question */
.questions-style {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Align the sign up and login buttons vertically */
.vertical {
    display: block;
    margin: 20px auto;
}

/* Change the hyperlink color */
#hyperlink {
    color: #60b4ef;
}

/* Gives the secondary text a slightly larger bottom margin */
#larger-bottom-margin {
    margin-bottom: 1.05em;
}

/* Styling the translation gear */
#translate-settings {
    background-image: url(../Assets/settings.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    display: inline-flex;
    height: 75px;
    width: 75px;
    transition: background-image 0.3s ease-in-out;
    z-index: 1000;
}

#translate-settings:hover {
    background-image: url(../Assets/settingshover.png);
}

/* Black background image that will appear when either popup is opened */
.black-overlay {
    align-items: center;
    display: flex;
    opacity: 0;
    position: fixed;
    height: 100%;
    justify-content: center;
    left: 0;
    visibility: hidden;
    width: 100%;
    top: 0;
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    z-index: 999;
}

/* Sign Up Popup Section */
/* Adding the "X" button */
.close {
    background-color: transparent;
    background-image: url(../Assets/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: block;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 14px;
    width: 60px;
}

/* Style the labels accompanying the radio buttons */
.radioes {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 390;
    margin: 0 50px;
    position: relative;
    user-select: none;
}

/* Hide the default radio buttons */
.radioes input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

/* Style the custom radio button */
.radio-option {
    background-color: #c5c5c5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 10px 0;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

/* Change the button's color to gray when hovered */
.radioes:hover input ~ .radio-option {
    background-color: #999999;
}

/* Change color when the radio button is checked */
.radioes input:checked ~ .radio-option {
    background-color: #e0bd1d;
}

/* Inner dot of the custom radio button when checked */
.radioes input:checked ~ .radio-option::after {
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
    left: 50%;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
}

/* Add styling to the form container */
.signup-container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* Styling the input fields */
.signup-container input[type=text], .signup-container input[type=password] {
    background: #f0f0f3;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    height: 20%;
    margin: 5px 0 2px 0;
    padding: 15px;
    width: 90%;
}

.signup-container input[type=text]::placeholder, .signup-container input[type=password]::placeholder {
    color: #817d80;
}

/* Change the design of the inputs when they are clicked on */
.signup-container input[type=text]:focus, .signup-container input[type=password]:focus {
    background: #e0e0e0;
    outline: none;
}

/* Add styling to the buttons in the container */
.signup-container .signup-button {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 14px 30px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 12em;
}

.signup-container .signup-button:hover {
    background-color: #7078ec;
}

/* Sign up popup - hidden by default */
.signup-form {
    background-color: #ffffff;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    display: none;
    height: fit-content;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    visibility: hidden;
    width: 550px;
    z-index: 1000;
}
/* End of the Sign Up Popup Section*/

/* Log In Popup Section */
/* Adding the "X" button */
.close {
    background-color: transparent;
    background-image: url(../Assets/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: block;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 14px;
    width: 60px;
}

/* Add styling to the form container */
.login-container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* Styling the input fields */
.login-container input[type=text], .login-container input[type=password] {
    background: #f0f0f3;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    height: 20%;
    margin: 5px 0 2px 0;
    padding: 15px;
    width: 90%;
}

.login-container input[type=text]::placeholder, .login-container input[type=password]::placeholder {
    color: #817d80;
}

/* Change the design of the inputs when they are clicked on */
.login-container input[type=text]:focus, .login-container input[type=password]:focus {
    background: #e0e0e0;
    outline: none;
}

/* Add styling to the log in button in the container */
.login-container .login-button {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 14px 30px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 12em;
}

.login-container .login-button:hover {
    background-color: #7078ec;
}

/* Log in popup - hidden by default */
.login-form {
    background-color: #ffffff;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    display: block;
    height: fit-content;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    visibility: hidden;
    width: 550px;
    z-index: 1000;
}

/* Customize the label accompanying the checkbox */
.remember {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-items: center;
    color: #5c9ce9;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 390;
    margin: 0 50px;
    position: relative;
    user-select: none;
}

/* Hide the browser's default checkbox */
.remember input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: 0;
    width: 0;
}

/* Create the custom checkbox */
.remember-check {
    background-color: #c5c5c5;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}

/* Change the checkbox's color to gray when hovered */
.remember:hover input ~ .remember-check {
    background-color: #999999;
}

/* Change color when the checkbox is checked */
.remember input:checked ~ .remember-check {
    background-color: #377cca;
}

/* Create the checkmark/indicator (hidden when its not checked) */
.remember-check:after {
    content: "";
    display: none;
    position: absolute;
}

/* Show the checkmark when checked */
.remember input:checked ~ .remember-check:after {
    display: block;
}

/* Style the checkmark/indicator */
.remember .remember-check:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid white;
    border-width: 0 4.5px 4.5px 0;
    height: 12px;
    left: 10px;
    top: 5px;
    transform: rotate(45deg);
    width: 6px;
}
/* End of the Log In Popup Section */

/* Styling the footer */
footer {
    bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 5vh;
    position: fixed;
    width: 100%;
}

/* Sets the background image */
html {
    background-image: url(../Assets/lightmodewithwildcat.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/* Styling the welcome text */
h1 {
    font-size: 6em;
    margin-bottom: -0.5em;
}

/* Styling the secondary text */
h3 {
    font-size: 3.1em;
}

/* Positioning of elements on smaller screens */
@media only screen and (max-width: 1360px) {
    .left-side {
        top: 54vh;
    }

    .right-side {
        top: 54vh;
    }
}