/* 
    Made by Treasure Chandler

    This is the CSS file that will style the "add class" page.
*/

/* Font configuration */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}

/* Back button */
#back {
    background-color: transparent;
    background-image: url(/Assets/back.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75px 75px;
    border: none;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    margin-top: 58px;
    height: 75px;
    left: 10px;
    position: absolute;
    top: 0.8rem;
    transition: filter 0.3s ease-in-out;
    width: 75px;
}

#back:hover {
    filter: brightness(0.8);
}

/* Settings button */
.settings-btn {
    background-color: transparent;
    background-image: url(/assets/settings.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 75px 75px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 58px;
    height: 75px;
    position: absolute;
    right: 10px;
    top: 0.8rem;
    transition: background-image 0.3s ease-in-out;
    width: 75px;
}

.settings-btn:hover {
    background-image: url(/assets/settingshover.png);
}

/* Styling the "enter class code" label */
.enter-code-txt {
    font-size: 4em;
    margin-top: 3em;
    text-align: center;
}

/* Styling the class code text field */
input[type=text] {
    background: #f0f0f3;
    border: none;
    border-radius: 5px;
    display: block;
    font-family: "Poppins", sans-serif;
    height: 25%;
    margin: 5px auto;
    padding: 15px;
    width: 10%;
}

input[type=text]::placeholder {
    color: #817d80;
}

input[type=text]:focus {
    background: #e0e0e0;
    outline: none;
}

/* Styling the "case sensitive" label */
.case-sens-txt {
    color: #afbbc0;
    font-size: 16px;
    margin-top: 2em;
    text-align: center;
}

/* Styling the "max classes" warning label */
.max-classes-warn-txt {
    color: #d45055;
    display: none;
    font-size: 16.5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
}

/* Styling the "join class" button */
.add-class-btn {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 15px 32px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 10em;
}

.add-class-btn:hover {
    background-color: #7078ec;
}

.add-class-btn:disabled {
    background-color: #eaeaef;
    color: #dad7d7;
    cursor: not-allowed;
}

/* Styling the wrong code alert popup and the "OK" button */
.ok {
    background-color: #c7bd3a;
    border: none;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    height: 2.5em;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    width: 4em;
}

.ok:hover {
    background-color: #ece359;
}

.wrong-code-alert {
    border: 3px solid #28507e;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

/* Background image */
body {
    background-image: url(/assets/lightmodewithwildcat.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}