/* 
    Made by Treasure Chandler

    This is the CSS file that will style the login page.
*/

/* Styling the two login buttons */
.buttons {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding: 15px 32px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 28em;
}

/* Give the buttons a lighter color upon hovering */
.buttons:hover {
    background-color: #7078ec;
}

/* Login div styling */
.login-height {
    height: 84.7vh;
    margin-top: 5.3em;
    position: relative;
    text-align: center;
}

/* Font configuration */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}

/* Align the div containing the help question and the question mark to the left */
.left-side {
    align-items: center;
    display: block;
    float: left;
    position: absolute;
    left: 10px;
    text-align: left;
    top: 56vh;
    width: 46vh;
    z-index: 999;
}

/* Add the question mark to the page so it can be hoverable */
.help-tooltip-img {
    background-image: url(/assets/help.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: help;
    display: inline-flex;
    height: 75px;
    width: 75px;
}

/* Help tooltip text */
.help-tooltip-img .help-tooltip-text {
    background-color: #f5f5f5;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    color: #000000;
    font-size: 1.27em;
    height: 210px;
    padding: 10px;
    width: 180px;
    visibility: hidden;

    /* Position the actual tooltip text */
    bottom: 100%;
    margin-left: 60px;
    position: absolute;
    z-index: 1;

    /* Make the tooptip fade in */
    opacity: 0;
    transition: opacity 0.6s;
}

/* Show the tooltip when the user hovers over it with the mouse */
.help-tooltip-img {
    transition: background-image 0.3s ease-in-out;
}

.help-tooltip-img:hover {
    background-image: url(/assets/helphover.png);
}

.help-tooltip-img:hover .help-tooltip-text {
    opacity: 1;
    visibility: visible;
}

/* Align the div containing the translation question and the gear to the right */
.right-side {
    align-items: center;
    display: block;
    float: right;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 56vh; 
    width: 23vw;
    z-index: 999;
}

/* Style the translation question and the help question */
.questions-style {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Align the sign up and login buttons vertically */
.vertical {
    display: block;
    margin: 20px auto;
}

/* Change the hyperlink color, and change the color upon hover */
#hyperlink {
    color: #60b4ef;
    transition: color 0.3s ease-in-out;
}

#hyperlink:hover {
    color: #286692;
}

/* Gives the secondary text a slightly larger bottom margin */
#larger-bottom-margin {
    margin-bottom: 1.05em;
}

/* Styling the translation gear */
#translate-settings {
    background-image: url(/assets/settings.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    display: inline-flex;
    height: 75px;
    width: 75px;
    transition: background-image 0.3s ease-in-out;
    z-index: 1000;
}

#translate-settings:hover {
    background-image: url(/assets/settingshover.png);
}

/* Black background image that will appear when either form is opened */
.black-overlay {
    align-items: center;
    display: flex;
    opacity: 0;
    position: fixed;
    height: 100%;
    justify-content: center;
    left: 0;
    visibility: hidden;
    width: 100%;
    top: 0;
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    z-index: 999;
}

/* Sign Up form Section */
/* Adding the "X" button */
.close {
    background-color: transparent;
    background-image: url(/assets/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: block;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 14px;
    transition: background-image 0.3s ease-in-out;
    width: 60px;
    z-index: 1000;
}

.close:hover {
    background-image: url(/assets/closehover.png);
}

/* Style the labels accompanying the radio buttons */
.radioes {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 390;
    margin: 0 50px;
    position: relative;
    user-select: none;
}

/* Hide the default radio buttons */
.radioes input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

/* Style the custom radio button */
.radio-option {
    background-color: #c5c5c5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 10px 0;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

/* Change the button's color to gray when hovered */
.radioes:hover input ~ .radio-option {
    background-color: #999999;
}

/* Change color when the radio button is checked */
.radioes input:checked ~ .radio-option {
    background-color: #e0bd1d;
}

/* Inner dot of the custom radio button when checked */
.radioes input:checked ~ .radio-option::after {
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
    left: 50%;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
}

/* Add styling to the form container */
.signup-container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* Styling the input fields */
.signup-container input[type=text], .signup-container input[type=password] {
    background: #f0f0f3;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    height: 20%;
    margin: 5px 0 2px 0;
    padding: 15px;
    width: 90%;
}

.signup-container input[type=text]::placeholder, .signup-container input[type=password]::placeholder {
    color: #817d80;
}

/* Change the design of the inputs when they are clicked on */
.signup-container input[type=text]:focus, .signup-container input[type=password]:focus {
    background: #e0e0e0;
    outline: none;
}

/* Add styling to the buttons in the container */
.signup-container .signup-button {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 14px 30px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 12em;
}

.signup-container .signup-button:hover {
    background-color: #7078ec;
}

/* Sign up form - hidden by default */
.signup-form {
    background-color: #ffffff;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    display: none;
    height: fit-content;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    visibility: hidden;
    width: 550px;
    z-index: 1000;
}
/* End of the Sign Up form Section*/

/* Log In form Section */
/* Adding the "X" button */
.close {
    background-color: transparent;
    background-image: url(/assets/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: block;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 14px;
    width: 60px;
    z-index: 1000;
}

/* Add styling to the form container */
.login-container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* Styling the input fields */
.login-container input[type=text], .login-container input[type=password] {
    background: #f0f0f3;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    height: 20%;
    margin: 5px 0 2px 0;
    padding: 15px;
    width: 90%;
}

.login-container input[type=text]::placeholder, .login-container input[type=password]::placeholder {
    color: #817d80;
}

/* Change the design of the inputs when they are clicked on */
.login-container input[type=text]:focus, .login-container input[type=password]:focus {
    background: #e0e0e0;
    outline: none;
}

/* Add styling to the forgot password button in the container */
.login-container .forgot-password-button {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    color: #3e84ff;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 2px 30px;
    transition: color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;

}

.login-container .forgot-password-button:hover {
    color: #181f7d;
}

/* Add styling to the log in button in the container */
.login-container .login-button {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 14px 30px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 12em;
}

.login-container .login-button:hover {
    background-color: #7078ec;
}

/* Log in form - hidden by default */
.login-form {
    background-color: #ffffff;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    display: none;
    height: fit-content;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    visibility: visible;
    width: 550px;
    z-index: 1000;
}

/* Customize the label accompanying the checkbox */
.remember {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-items: center;
    color: #5c9ce9;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 50px;
    padding-left: 40px;
    position: relative;
    user-select: none;
}

/* Hide the browser's default checkbox */
.remember input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: 0;
    width: 0;
}

/* Create the custom checkbox */
.remember-check {
    background-color: #c5c5c5;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}

/* Change the checkbox's color to gray when hovered */
.remember:hover input ~ .remember-check {
    background-color: #999999;
}

/* Change color when the checkbox is checked */
.remember input:checked ~ .remember-check {
    background-color: #d9c919;
}

/* Create the checkmark/indicator (hidden when its not checked) */
.remember-check:after {
    content: "";
    display: none;
    position: absolute;
}

/* Show the checkmark when checked */
.remember input:checked ~ .remember-check:after {
    display: block;
}

/* Style the checkmark/indicator */
.remember .remember-check:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #ffffff;
    border-width: 0 4.5px 4.5px 0;
    height: 12px;
    left: 10px;
    top: 5px;
    transform: rotate(45deg);
    width: 6px;
}
/* End of the Log In form Section */

/* Forgot Password form Section */
/* Adding the "X" button */
.close {
    background-color: transparent;
    background-image: url(/assets/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: block;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 14px;
    width: 60px;
    z-index: 1000;
}

/* Add styling to the form container */
.forgot-password-container {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* Style the label above the input field */
.forgot-psw-hint {
    align-items: center;
    color: #6d6c6d;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 50px;
    position: relative;
}

/* Styling the input fields */
.forgot-password-container input[type=text] {
    background: #f0f0f3;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    height: 20%;
    margin: 10px 0 18px 0;
    padding: 15px;
    width: 90%;
}

.forgot-password-container input[type=text]::placeholder {
    color: #817d80;
}

/* Change the design of the inputs when they are clicked on */
.forgot-password-container input[type=text]:focus {
    background: #e0e0e0;
    outline: none;
}

/* Add styling to the log in button in the container */
.forgot-password-container .forgot-psw-button {
    background-color: #3a42bd;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 14px 30px;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
    width: 17.5em;
}

.forgot-password-container .forgot-psw-button:hover {
    background-color: #7078ec;
}

/* Add transition for closing the form */
#forgotPassword {
    transition: opacity 0.6s ease;
    opacity: 1;
}

/* Add transition for closing the success popup */
#resetSuccessAlert {
    transition: opacity 0.6s ease;
    opacity: 1;
}

/* Forgot password form - hidden by default */
.forgot-password-form {
    background-color: #ffffff;
    border: 5px solid #4a90e2;
    border-radius: 10px;
    display: none;
    height: fit-content;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s ease, visibility 0s 0.6s;
    visibility: visible;
    width: 450px;
    z-index: 1000;
}
/* End of Forgot Password form Section */

/* Styling the login alert popups and the "OK" button */
.ok {
    background-color: #c7bd3a;
    border: none;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    height: 2.5em;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    width: 4em;
}

.ok:hover {
    background-color: #ece359;
}

.login-alert {
    border: 3px solid #28507e;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

/* Styling the loading icon */
#spinner {
    align-items: center !important;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    height: 100vh;
    justify-content: center !important;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.spinner {
    animation: spin 0.8s linear infinite;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    height: 60px;
    width: 60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styling the footer */
footer {
    bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 5vh;
    position: fixed;
    width: 100%;
}

/* Background visible by default */
#background {
    background-image: url(/assets/lightmodewithwildcat.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/* Class to hide the background */
.no-background {
    background-image: none !important;
}

/* Styling the welcome text */
h1 {
    font-size: 6em;
    margin-bottom: -0.5em;
}

/* Styling the secondary text */
h3 {
    font-size: 3.1em;
}

/* Positioning of elements on smaller screens */
@media only screen and (max-width: 1360px) {
    .left-side {
        top: 54vh;
    }

    .right-side {
        top: 54vh;
    }
}